// Header Page
 // -- Link
// ExpenseSummary
 //  -- Link

// Button Main
  // -- Style All main action buttons
  // -- Also Turn Links into buttons
.button {
  background: $blue; // background color
  border: none; // text color
  color: white;
  display: inline-block; // turn element into a block level element
  font-weight: 300; // how thick the font will be
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

// Style Header Link to look like a link Rather then a button
.button--link {
  background: none;
}

// Button Secondary
.button--secondary {
  background: $gray;
}