// this is where we define a container that will center content for us

.content-container {
  margin: 0 auto; // automatically center, by destributing content evently on both the right and left
  // Note - by wrapping content container, we allow it to set out left & right paddding for nested content
  padding: 0 $m-size;
  max-width: 80rem;
}