// Styles for the header component

// the main body of the header
.header {
  background: $dark-blue;
}

// Expensify Link tag - Also the title
.header__title {
  color: white;
  text-decoration: none; // remove the text decoration which is the underline
  padding: $m-size;
  h1 { // target the nested h1 tag
    margin: 0; // this will remove the white space above our header
  }
}

// create a div, that will use flex box to space content into a row rather then column
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $s-size 0;
}