// Expense List
  // - add a list / table view

// Expense Item

// Header - 2 Divs <expenses> <amount>
.list-header {

  background: $off-white;
  border: 1px solid darken($off-white, 7%);
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

// Body of content for the Expense List
.list-body {
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}

// Body list items - list of expenses view
  // -- amount
  // -- createdAt + name
.list-item {

  // mobile styles
  border: 1px solid darken($off-white, 7%); // create border & use darken
  border-top: none; // remove the top of the border  as we don't need it
  display: flex;
  flex-direction: column;
  color: $dark-gray;
  padding: $s-size;
  text-decoration: none; // remove underlink

  // add transition animation to the brackground
  transition: background .3s ease;

  &:hover { // same as .list-item:hover { }, just a super handy syntax
    background: $off-white; // works with transition
  };

  // desktop styles
  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
  }
}

// no expense message
.list-item--message {
  align-items:  center;
  justify-content: center;
  color: $gray;
  padding: $m-size;
  transition: none;
  &:hover {  // remove the transition animation by removing the background
    background: none;
  }
}

// Expense item Name
.list-item__title {
  margin: 0;
  word-break: break-all; // will prevent edge case where name of expenese is rediculously long single word
}

// span tag that containes our createdAt data
.list-item__sub-title {
  color: $gray;
  font-size: $font-size-small;
}

.list-item__data {
  margin: $s-size 0 0 0;

  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding-left: $s-size;
  }
}

