// Note - Normalize.css is setting all values to zero, find this in app.js import normalize.css

// Base styles for all components & pages

* {
  box-sizing: border-box; // border-box, will automatically add padding & margin from our height value
  // content-box, will always add the padding & margin ontop of height values
  // Example
    // padding: 20px;
    // margin: 20px;
    // Height: 50px;
    // box-sizing: content-box; = true height will be 90px;
    // box-sizing: border-box; = true height will be 50px;
}

html {
  // This will force 1REM to 10px
  // 16*.625 = 10
  font-size: 62.5%;
}

body {
  color: $dark-gray; // Standerizes the color to #333333 dark gray
  font-family: Helvetica, Arial, sans-serif; // Standerize fonts across browsers
  font-size: $m-size; // Standerizes the font size across browsers
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  color: pink;
}
